<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
  
<suite name="FreeCRM_Suite" verbose="1" >

		<listeners>
		<listener class-name="com.crm.qa.extendreportListener.ExtentReporterNG"/>
		<listener class-name="com.crm.qa.util.RetryLogic"/>
		</listeners>
  <test name="FreeCRM" >
    <classes>
       <class name="com.crm.qa.testcases.LoginPageTest"/>
       <class name="com.crm.qa.testcases.HomePageTest"/>
       <class name="com.crm.qa.testcases.ContactsPageTest"/>
    </classes>
  </test>
</suite> 